In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(pd.read_excel('Tribes sample (1).xlsx'))

In [5]:
df

                  Name     Tribe
0     Melvin Kiprotich  Kalenjin
1         Grace Wafula     Luhya
2   Pretty Kimani Oloo       NaN
3        Winnie Muthee     Kamba
4        Juliet Kerubo     Kisii
5      Florence Lenana    Maasai
6        Kelvin Otieno       NaN
7       Cynthia Kareko      Meru
8        Samuel Kimani    Kikuyu
9         Evans Wakalo     Taita
10        Steve Wafula       NaN
11       Marcia Otieno       Luo

For similar last names, we fill the missing values based on matched last names. For people with three names, we use the middle name as the surname.

In [8]:
# Function to extract middle and last names
def extract_middle_and_last_names(name):
    parts = name.split()
    if len(parts) == 2:
        return parts[1], parts[1]  # Use the second part as both middle and last name for 2-part names
    elif len(parts) > 2:
        return parts[1], parts[-1]  # Use the second part as the middle name and the last part as the last name

# Extract middle and last names
df['middle_name'], df['last_name'] = zip(*df['Name'].apply(extract_middle_and_last_names))

# Create a mapping of last names to tribes
last_name_tribe_mapping = df.dropna(subset=['Tribe']).groupby('last_name')['Tribe'].agg(lambda x: x.mode()[0] if not x.mode().empty else None).to_dict()

# Function to fill missing tribe based on middle name matching last names
def impute_tribe(row, last_name_mapping):
    if pd.isnull(row['Tribe']):
        middle_name = row['middle_name']
        if middle_name in last_name_mapping:
            return last_name_mapping[middle_name]
    return row['Tribe']

# Apply the imputation function using the mapping
df['Tribe'] = df.apply(lambda row: impute_tribe(row, last_name_tribe_mapping), axis=1)

# Drop unnecessary columns
df.drop(columns=['middle_name', 'last_name'], inplace=True)

print(df)

                  Name     Tribe
0     Melvin Kiprotich  Kalenjin
1         Grace Wafula     Luhya
2   Pretty Kimani Oloo    Kikuyu
3        Winnie Muthee     Kamba
4        Juliet Kerubo     Kisii
5      Florence Lenana    Maasai
6        Kelvin Otieno       Luo
7       Cynthia Kareko      Meru
8        Samuel Kimani    Kikuyu
9         Evans Wakalo     Taita
10        Steve Wafula     Luhya
11       Marcia Otieno       Luo